.footer {
    margin-top: 75px;
    background-color: #74C69D;
    .footer__container {
        padding: 60px 90px;
        display: flex;
        justify-content: space-between;
        .container__items {
            display: flex;
            gap: 20px;
        }
        .container__label {
            font-family: "Work Sans";
            font-size: 20px;
            font-weight: 400;
            color: #FFFFFF;
        }
    }
    
}

@media (max-width: 800px) {
    .footer {
        .footer__container {
            //padding: 40px 60px;
            flex-direction: column;
            gap: 20px;
            .container__items {
                margin: 0 auto;
            }
        }
        .container__label {
            text-align: center;
        }
    }
}